<!-- EJS是一个JavaScript模板库，用来从JSON数据中生成HTML字符串。 -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
